.initial-spinner {
  position: absolute;
  left: 50%;
  margin-left: -4em;
  top: 40%;
}
/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.sec-container {
  padding: 20px
}

.toolbar-icon {
  margin: 0px 20px
}


.mat-icon {
  color:#606060
}
